<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Schedules</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .calendar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        table td {
            vertical-align: top;
            position: relative; /* Relative positioning for the table cell */
            /* height: 70px; Optional: Set a fixed height for uniformity */
        }

        .badge-event {
            margin-left:3px;
            /* position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%); To center align the badge horizontally */
        }

        #weeklyCalendar th {
            background-color: #f5f5f5;
            border-right: 2px solid #e0e0e0;
        }

        #weeklyCalendar td {
            height: 30px;
            border-right: 2px solid #e0e0e0;
        }

        #weeklyCalendar td:last-child {
            border-right: none;
        }

        .badge-event {
            display: inline-block;
            width: 100%;
            text-align: center;
            padding: 5px 0;
            border-radius: 3px;
        }

        .badge-success { 
            background-color: #28a745; 
        }

        .badge-warning { 
            background-color: #ffc107; 
        }

        #weeklyCalendar .event-badge {
            position: absolute;
            width: 100%;
            background-color: rgba(0, 123, 255, 0.5); /* Adjust as needed */
            color: white;
            z-index: 1;
            border-radius: 3px;
            text-align: center;
            overflow: hidden; /* Handle long event names */
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #weeklyCalendar td {
            position: relative;
        }


        /* Custom CSS to override Bootstrap */
        @media (max-width: 767px) {
        .table-responsive {
            display: block;
            overflow-x: auto;
        }
        }

        @media (min-width: 768px) {
        .table-responsive {
            display: table; /* Reset to default table display value */
        }
        }
        .hoverable-box {
        cursor: pointer;
        transition: background-color 0.2s ease;
        border: 0px;
        }

        .hoverable-box:hover {
        background-color: #f1f1f1;
        }

        #events-list {
        padding-left: 0;
        }

        #events-list .list-group-item {
        margin-left: 0;
        /* padding-left: 0; */
        }
        
        #bookings-list {
        padding-left: 0;
        }

        #bookings-list .list-group-item {
        margin-left: 0;
        /* padding-left: 0; */
        }

    </style>

</head>
    <body class="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            {% include 'sidebar-nav.html' %}

            <!-- Content wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    {% include 'navbar.html' %}
                    
                    <div class="container-fluid">
                        <h1>Schedules</h1>
                        <div class="row">
                            <!-- Area Chart -->
                            <div class="col-xl-8 col-lg-7">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Monthly Schedules</h6>
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-600"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                    aria-labelledby="dropdownMenuLink">
                                                    <div class="dropdown-header">Display:</div>
                                                    <a class="dropdown-item" id="monthlyToggle" href="#">Monthly</a>
                                                    <a class="dropdown-item" id="weeklyToggle" href="#">Weekly</a>
                                                    <a class="dropdown-item" href="#">Work Week</a>
                                                    <a class="dropdown-item" href="#">List</a>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="card-body">
                                    <div class="calendar-header">
                                        <a id="prev" class="" href="#"><i class="fas fa-fw fa-chevron-left"></i></a>
                                        <h3 id="currentMonthYear"></h3>
                                        <a id="next" class="" href="#"><i class="fas fa-fw fa-chevron-right"></i></a>
                                    </div>
                                    <table id="monthlyCalendar" style="width: 100% !important;" class="table table-bordered table-responsive mt-3">
                                        <thead>
                                            <tr>
                                                <th>Sun</th>
                                                <th>Mon</th>
                                                <th>Tue</th>
                                                <th>Wed</th>
                                                <th>Thu</th>
                                                <th>Fri</th>
                                                <th>Sat</th>
                                            </tr>
                                        </thead>
                                        <tbody id="calendarBody">
                                        </tbody>
                                    </table>
    
                                    <!-- Weekly Calendar (initially hidden) -->
                                    <table id="weeklyCalendar" class="table table-responsive table-bordered mt-5">
                                        <!-- This will be populated dynamically using JavaScript -->
                                    </table>
                                    
                                    </div>
                                </div>                    
                            
                            </div>
    
                            <div class="col-lg-4">
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6 class="m-0 font-weight-bold text-primary">Your bookings</h6>
                                    </div>
                                    <div class="card-body">
                                        <ul id="bookings-list">
                                        </ul>
                                    </div>
                                </div>
    
                                <div class="card shadow mb-4">
                                    <div class="card-header">
                                        <h6 class="m-0 font-weight-bold text-primary">Upcoming events</h6>
                                    </div>
                                    <div class="card-body">
                                        <ul id="events-list">
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            
            </div>

        </div>
        <!-- End Page Wrapper -->

        <!-- Bootstrap core JavaScript-->
        <script src="/static/vendor/jquery/jquery.min.js"></script>
        <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/static/js/sb-admin-2.min.js"></script>

        
        <script src="/static/js/active-link.js"></script>
        
        <!-- Variables containing events for calendar -->
        <script>
            const events = [
                            {
                                date: "2023-10-18",
                                title: "Meeting",
                                time: {
                                    start: "10:00",
                                    end: "11:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "tentative"
                            },
                            {
                                date: "2023-10-19",
                                title: "Workshop",
                                time: {
                                    start: "09:00",
                                    end: "11:00"
                                },
                                description: "Web Development Workshop",
                                place: "Auditorium",
                                bookedBy: "Jane Smith",
                                status: "tentative"
                            },
                            {
                                date: "2023-10-20",
                                title: "Meeting",
                                time: {
                                    start: "10:00",
                                    end: "11:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            },
                            {
                                date: "2023-10-20",
                                title: "Workshop",
                                time: {
                                    start: "12:00",
                                    end: "15:00"
                                },
                                description: "Web Development Workshop",
                                place: "Auditorium",
                                bookedBy: "Jane Smith",
                                status: "tentative"
                            },
                            {
                                date: "2023-10-21",
                                title: "Meeting",
                                time: {
                                    start: "08:00",
                                    end: "09:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            },
                            {
                                date: "2023-10-15",
                                title: "Meeting",
                                time: {
                                    start: "12:00",
                                    end: "13:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            }
                            ,{
                                date: "2023-11-05",
                                title: "Meeting",
                                time: {
                                    start: "07:00",
                                    end: "09:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            },
                            {
                                date: "2023-11-06",
                                title: "Meeting",
                                time: {
                                    start: "14:00",
                                    end: "15:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            },
                            {
                                date: "2023-11-07",
                                title: "Closed Meeting",
                                time: {
                                    start: "07:00",
                                    end: "12:00"
                                },
                                description: "Brainstorm",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "tentative"
                            },
                            {
                                date: "2023-11-10",
                                title: "Workshop",
                                time: {
                                    start: "12:00",
                                    end: "13:00"
                                },
                                description: "Team Meeting",
                                place: "Conference Room",
                                bookedBy: "John Doe",
                                status: "confirmed"
                            }
                            // ... add other events as needed
                        ];
        </script>

        <!-- Variables containing events for calendar -->
        <script>
            const eventsbyusers = [
                {
                    date: "2023-10-18",
                    title: "Meeting",
                    time: {
                        start: "10:00",
                        end: "11:00"
                    },
                    description: "Team Meeting",
                    place: "Conference Room",
                    bookedBy: "John Doe",
                    status: "tentative"
                },
                {
                    date: "2023-10-19",
                    title: "Workshop",
                    time: {
                        start: "09:00",
                        end: "11:00"
                    },
                    description: "Web Development Workshop",
                    place: "Auditorium",
                    bookedBy: "Jane Smith",
                    status: "tentative"
                },
                {
                    date: "2023-10-20",
                    title: "Meeting",
                    time: {
                        start: "10:00",
                        end: "11:00"
                    },
                    description: "Team Meeting",
                    place: "Conference Room",
                    bookedBy: "John Doe",
                    status: "confirmed"
                },
                {
                    date: "2023-10-21",
                    title: "Meeting",
                    time: {
                        start: "08:00",
                        end: "09:00"
                    },
                    description: "Team Meeting",
                    place: "Conference Room",
                    bookedBy: "John Doe",
                    status: "confirmed"
                },
                {
                    date: "2023-11-10",
                    title: "Workshop",
                    time: {
                        start: "12:00",
                        end: "13:00"
                    },
                    description: "Team Meeting",
                    place: "Conference Room",
                    bookedBy: "John Doe",
                    status: "confirmed"
                }
                // ... add other events as needed
            ];

        </script>
        <script src="/static/js/calendar.js"></script>
        <script src="/static/js/upcoming-event.js"></script>
        <script src="/static/js/user-booking.js"></script>

    </body>
</html>